<header>
  <div class="max-w-6xl w-11/12 mx-auto py-4">
    <h1>Trackdays Admin</h1>
  </div>
</header>
<main>
  <div class="max-w-6xl w-11/12 mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
