<header class="max-w-6xl w-11/12 mx-auto mb-4 py-2">
  <a href="/">
    <div class="w-48 -ml-4">
    <img src={~p"/images/logo.svg"} />
    </div>
  </a>
</header>
<main>
  <div class="max-w-6xl w-11/12 mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer class="max-w-6xl w-11/12 mx-auto mb-4 py-2">
  <a href="https://www.instagram.com/trackdaysapp/" target="_blank">Instagram</a> 
</footer>
