<header class="max-w-6xl w-11/12 mx-auto z-50 sticky bg-bg-primary">
  <a href="/">
    <div class="w-40 -ml-4 md:w-52">
    <img src={~p"/images/logo.svg"} />
    </div>
  </a>
</header>
<main class="border-t border-t-tertiary">
  <div class="max-w-6xl w-11/12 mx-auto">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer class="max-w-6xl w-11/12 mx-auto mb-4 py-4">
  <div class="w-40 mx-auto">
    <img src={~p"/images/logo.svg"} />
  </div>
</footer>
