<h1 class="text-red-600">Hi <%= @name %>! Thanks for using Trackdays!</h1>
<p>Please click the button below to verify your email.</p>

<form action={@verify_link} method="post">
  <input value="id" type="hidden" />
  <input value="email" type="hidden" />
  <button type="submit">Verify</button>
</form>
